
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }

  #app {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  
  canvas {
    display: flex;
    image-rendering: pixelated;
    width: 100%;
    height: auto;
  }

  #tilemap-dynamic {
    position: absolute;
    top: 0;
    left: 0;
  }