
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#art-container {
    position: relative;
    aspect-ratio: 16 / 9;
    margin: auto;
    width: 100%;
    height: auto;
}

/* If screen for device has aspect ratio of 16/9 or bigger the height will take up the full height of the screen 
and the widths will be automatically sized while filled with black */
@media screen and (min-aspect-ratio: 16/9){
    #art-container {
        width: auto;
        height: 100%;
    }
}

  
canvas {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
}


  