body {
  margin: 0
}

#section-maze {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1/1;
  image-rendering: pixelated;
  width: 640px;
  height: auto;
}

#tilemap-dynamic {
  z-index: 10;
}