
* {
  margin: 0 !important;
  padding: 0 !important;
  border: none;
  background: none;
  box-sizing: border-box;
}

html, body {
  width: 100% !important;
  height: 100% !important;
}

body  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-maze {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1/1;
  image-rendering: pixelated;
  cursor: pointer !important;
  width: 100% !important;
  height: 100% !important;
}

#tilemap-dynamic {
  z-index: 10;
}
